* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background-color: rgb(211, 0, 53);
    font-size: 30px;
}

TB {
    border: 5px outset #555;
    background-color: #222;
    text-align: left;
}