---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Sillynano";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="300" alt="RaccoonSpaceGif" style="border-radius: 40px;" src="https://avatars.githubusercontent.com/u/44953625?v=4"/>
    </div>
    <h1>Sillynano</h1>
    <span class="badge">Web Dev Student</span>
    <h2>About</h2>
    <p>
        I am a middle school student that is trying my best to learn
        how to code in HTML and Markdown. I used scratch before back in
        elementary school.        
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" style="border-radius:4px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Scratch" style="border-radius: 4px;" src="https://seeklogo.com/images/S/scratch-logo-B13B10E544-seeklogo.com.png" />
    </div>
    <h2>Interests</h2>
    <p>
        <ul>
            <li>Drawing =)</li>
            <li></li>
        </ul>
    </p>
</Layout>

